<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 90%; margin-left: 15px; border: 1px solid red; padding: 12px">
        <h3>Pergunta: {{question}}</h3>
        <p>{{text}}</p>
        <br>
        <p>Atenciosamente,</p>
        <p style="font-size: 10px;">Carlos Bruno - Equpe ChatGPT</p>
        <p style="font-size: 10px;">cbcarlos07@gmail.com</p>
        <p style="font-size: 10px;">https://www.linkedin.com/in/carlosbrunobrito/</p>
    </div>
</body>
</html>